.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  .container2{
    width: 80%;
    margin: 0 auto;
  }

  .left {
    margin-right: 10px;
    flex: 1;
  }
  .right {
    margin-left: 0px;
    flex: 1;
    padding-left: 150px;
  }

.bigger{
  font-size: 25px;
}
